.img-circle {
	width: 150px;
	height: 150px;
	object-fit: cover;
	border: 1px solid #ddd;
	margin-top: 50px;
	margin-bottom: 20px;
}
.link-change {
	cursor: pointer;
	color: #31708f;
}
.link-change:hover {
	text-decoration: underline;
}
.aside-nav .active {
	background-color: #eee;
}
.list-post li {
	list-style-type: none;
}
.list-post li a {

	display: block;
	border-bottom: 1px solid #ddd;
	padding-bottom: 5px;
}
