.post {
	background-color: #f1f2f3;
	padding: 15px;
}
.post-heading {
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 30px;
}
.post-content {
	display: block;
	margin-bottom: 30px;
}
.wrap-btn {
	margin-top: 50px;
}
.user-login {
	background-color: #f1f2f3;
	padding: 15px;
}
.user-login .btn {
	margin-top: 30px;
}
.post-list .media {
	background-color: #f1f2f3;
	padding: 10px;
}
.wrap-list-users {
	border-right: 1px solid #ccc;
}
.wrap-list-users .list-group .title-group {
	padding: 5px;
	margin-left: 20px;
	background-color: #ccc;
}
.wrap-list-users .list-users {
	padding-left: 20px;
	height: 530px;
	overflow-y: scroll;
}
.wrap-list-users .list-users li {
	list-style-type: none;
}
.wrap-list-users .list-users li a {
	display: block;
	padding: 5px;
	background-color: #f1f2f3;
	border-bottom: 1px solid #ccc;
}
.wrap-list-users .list-users li a:hover {
	background-color: #ddd;
}
.wrap-list-users .list-users li .active {
	background-color: #ddd;
}
.wrap-messages .title {
	padding: 5px;
	border-bottom: 1px solid #ccc;
}
.wrap-messages .user-chat {
	color: #33adff;
	font-size: 20px;
}
.content-messages {
	background-color: #f1f2f3;
	display: flex;
	width: 100%;
	min-height: 500px;
	flex-direction: column;
	align-items: flex-start;
}
.content-messages .show-message {
	width: 100%;
	height: 500px;
	padding: 15px 0;
	overflow-y: scroll;
}

.content-messages .show-message .receiver-mgs {
	padding: 10px 20px;
	background-color: #cce6ff;
	text-align: left;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	display: inline-block;
	margin-right: 50px;
	
}
.content-messages .receiver {
	position: relative;
	margin-top: 25px;
}
.content-messages .receiver .time-mgs {
	position: absolute;
	left: 10px;
	bottom: -10px;
}
.content-messages .show-message .send {
	margin-top: 25px;
	text-align: right;
	position: relative;
}
.content-messages .show-message .send .time-mgs {
	position: absolute;
	right: 10px;
	bottom: -10px;
}
.content-messages .show-message .send-mgs {
	padding: 10px 20px;
	background-color: #66b3ff;
	text-align: right;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	display: inline-block;
	margin-left: 50px;
	position: relative;
}
.content-messages .input-message {
	width: 100%;
	min-height: 200px;
}
.form-input-message {
	width: 100%;
}
.form-input-message .input-group {
	width: 100%;
}
.form-input-message .input-group form {
	display: table;
}